body{
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
    line-height: 1.4;
    font-family: Roboto,Arial,sans-serif;
}

.home-top-carousel {
    padding-top: 20px;
    width: 100%;
    height: 200px;
    background-color: blue;
  }


 

/****************************
 */
 .BeautyFoodToy_Contianer, .foryourvalentine_Contianer,
 .MothlyEssentials_Contianer, .SportsHealthcare_Contianer,
 .HomeKitchenEssentials_Contianer, .GroomingBooksAuto_Contianer,
 .FashionTopDeals_Contianer, .TopDeals_Contianer,
 .BooksToys_Contianer, .PickYourStyles_Contianer,
 .DealOnTVAppliances_Contianer, .BeautyFoodMore_Contianer,
 .FashionBestSellers_Contianer, .FurnitureBestseller_Contianer{
    margin-top: 10px;
 }
    .bestofElectronic_Contianer , .BeautyFoodToy_Contianer, .foryourvalentine_Contianer,
    .MothlyEssentials_Contianer, .SportsHealthcare_Contianer,
    .HomeKitchenEssentials_Contianer, .GroomingBooksAuto_Contianer,
    .FashionTopDeals_Contianer, .TopDeals_Contianer,
    .BooksToys_Contianer, .PickYourStyles_Contianer,
    .DealOnTVAppliances_Contianer, .BeautyFoodMore_Contianer,
    .FashionBestSellers_Contianer, .FurnitureBestseller_Contianer {
      width: 99%;
      height: 340px;
      background-color: aqua;
     
  }
  .bestofElectronicmoreOption, .BeautyFoodToymoreOption ,
  .foryourvalentinemoreOption , .MothlyEssentialsmoreOption,
  .SportsHealthcaremoreOption, .HomeKitchenEssentialsmoreOption,
  .GroomingBooksAutomoreOption, .FashionTopDealsmoreOption,
  .TopDealsmoreOption, .BooksToysmoreOption,
  .PickYourStylesmoreOption, .DealOnTVAppliancesmoreOption,
  .BeautyFoodMoremoreOption, .FashionBestSellersmoreOption, .FurnitureBestsellermoreOption{
      height: 130px;
      max-width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      
  }
  .bestofElectronicmoreOption img , .BeautyFoodToymoreOption img,
  .foryourvalentinemoreOption img, .MothlyEssentialsmoreOption img,
  .SportsHealthcaremoreOption img, .HomeKitchenEssentialsmoreOption img,
  .GroomingBooksAutomoreOption img, .FashionTopDealsmoreOption img,
  .TopDealsmoreOption img, .BooksToysmoreOption img,
  .PickYourStylesmoreOption img, .DealOnTVAppliancesmoreOption img,
  .BeautyFoodMoremoreOption img, .FashionBestSellersmoreOption img, .FurnitureBestsellermoreOption img{
      height: 100%;
      width: 100%;
  }
  .BestofElectronic_item, .BeautyFoodToy_item,
  .foryourvalentine_item, .MothlyEssentials_item,
  .SportsHealthcare_item, .HomeKitchenEssentials_item,
  .GroomingBooksAuto_item, .FashionTopDeals_item,
  .TopDeals_item, .BooksToys_item,
  .PickYourStyles_item, .DealOnTVAppliances_item, 
  .BeautyFoodMore_item, .FashionBestSellers_item, .FurnitureBestseller_item{
      background-color: white;
      min-width: 210px;
      max-width:210px ;
      height: 340px;
      position: relative;
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
  }
  .viewAllBtn{
      background-color: #2874f0;
      padding: 6px 16px;
      border-radius: 3px;
      color:white;
      font-size: 15px;
  }
  .bestofElectronic_bigText, .BeautyFoodToy_bigText,
  .foryourvalentine_bigText, .MothlyEssentials_bigText,
  .SportsHealthcare_bigText, .HomeKitchenEssentials_bigText,
  .GroomingBooksAuto_bigText, .FashionTopDeals_bigText,
  .TopDeals_bigText, .BooksToys_bigText,
  .PickYourStyles_bigText, .DealOnTVAppliances_bigText,
  .BeautyFoodMore_bigText, .FashionBestSellers_bigText, .FurnitureBestseller_bigText{
      font-size: 30px;
      text-align: center;
      margin:60px 0px 30px 0px;
  }
  .bestofElectronic_list, .BeautyFoodToy_list,
  .foryourvalentine_list, .MothlyEssentials_list,
  .SportsHealthcare_list, .HomeKitchenEssentials_list,
  .GroomingBooksAuto_list, .FashionTopDeals_list,
  .TopDeals_list, .BooksToys_list, 
  .PickYourStyles_list, .DealOnTVAppliances_list,
  .BeautyFoodMore_list, .FashionBestSellers_list, .FurnitureBestseller_list{
      display: flex;
  }
  .bestOfElectornic_image_Product{
      height: max-content;
      text-align: center;
      height: 210px;
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
  .bestOfElectornic_image_Product img{
      width: 90%;
      max-height: 210px;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  .bestofElectornicProduct_name{
      font-size: 16px;
      font-weight: bold;
      padding-top: -15px;
      letter-spacing: 0.5px;
  }
  .bestofElecronic_discount{
      color:#388e3c;
      font-size: 17px;
      padding-bottom: -10px;
  }
  .bestofElectronic_brand{
      color:rgb(193, 189, 189);
      font-size: 14px;
      padding-top: -15px;
  }
  
  
  .bestofElctronic_product_item, .BeautyFoodToy_product_item,
  .foryourvalentine_product_item, .MothlyEssentials_product_item,
  .SportsHealthcare_product_item, .HomeKitchenEssentials_product_item,
  .GroomingBooksAuto_product_item, .FashionTopDeals_product_item,
  .TopDeals_product_item, .BooksToys_product_item,
  .PickYourStyles_product_item, .DealOnTVAppliances_product_item,
  .BeautyFoodMore_product_item, .FashionBestSellers_product_item, .FurnitureBestseller_product_item{
      display: flex;
     
  }
  
  .bestofElectornicProduct_name{
      color:#000;
  }

  .card-product-main-container{
    display: flex;
    overflow: auto;
    
  }

  .card-btn{
    position: absolute; 
    padding: 20px 10px; 
    height: 120px; 
    font-size: 2rem; 
    margin: auto 0 ; 
    background-color: white; 
    border: none; 
    box-shadow: -2px -2px 5px rgba(0,0,0,0.1), 
    2px 2px 5px rgba(0,0,0,0.1); 
    border-radius: 5px;
    z-index: 2;
  }
   .card-btn-display{
    display: none;
   }
  .card-btn-container{
    position: relative;
    margin: auto;
    top: -55px;
  }
  #card-btn-right , #card-btn-right2,
  #card-btn-right3, #card-btn-right4,
  #card-btn-right5, #card-btn-right6, #card-btn-right7,
  #card-btn-right8, #card-btn-right9,
  #card-btn-right10, #card-btn-right11, #card-btn-right12,
  #card-btn-right13 ,#card-btn-right14, #card-btn-right15{
     margin-left: -40px; 
     
    } 
    .translatebody-card{ 
      overflow: hidden; 
    }